.login-container {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background-color: #f3f4f6;
    justify-content: center;
    align-items: center;
    background-color: black;
  }
  .he{
    display: flex;
    justify-content: center;
    align-items: center;
    color: #ffffff;
  
  }
  
  .login-box {
    margin: auto;
    background-color: rgb(80, 76, 76);
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    padding: 2rem;
    width: 24rem;
    color: #ffffff;
  }
  
  .logo {
    display: block;
    margin: 0 auto ;
    width: 50px;
    height: 50px;
  }
  
  .title {
    font-size: 1.5rem;
    font-weight: bold;
    text-align: center;
    margin-bottom: 1.5rem;
  }
  
  .google-button {
    width: 100% !important;
    margin-bottom: 1rem !important;
    background-color: transparent;
  }
  
  .create-account-button {
    width: 50%;
    background-color: #2563eb;
    color: white;
    border: none;
    border-radius: 0.5rem;
    padding: 0.5rem 1rem;
    margin-top: 1rem;
    cursor: pointer;
  }
  
  .sign-in-text {
    text-align: center;
    font-size: 0.875rem;
    color: #070707;
    
  }
  
  .sign-in-link {
    color: #070707;
    text-decoration: none;
  }