.App {
  text-align: center;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}
/* Add this to your existing globals.css or create a new file */

body {
  transition: background-color 0.3s, color 0.3s;
}

.dark {
  background-color: #1f2937;
  color: #f3f4f6;
}

.dark .navbar,
.dark .email-list-container,
.dark .email-thread-container {
  background-color: #374151;
  color: #f3f4f6;
}

.dark .thread-item:hover {
  background-color: #4b5563;
}

.dark .custom-text-editor-container,
.dark .custom-text-editor-textarea {
  background-color: #374151;
  color: #f3f4f6;
  border-color: #4b5563;
}